@font-face {
    font-family: "Arciform Sans";
    src: url("fonts/Arciform.woff");
}

html::-webkit-scrollbar {
    width: 16px;
    height:16px
}

html::-webkit-scrollbar-thumb {
    background: #434343;
    border-radius: 16px;
    box-shadow:inset 2px 2px 2px hsla(0, 0%, 100%, .25), inset -2px -2px 2px rgba(0, 0, 0, .25)
}

html::-webkit-scrollbar-track {
    background:linear-gradient(90deg, #434343, #434343 1px, #111 0, #111)
}

body {
    background-color: #2a2a2a;
}

.header {
    position: absolute;
    left: calc(50% - (1700px / 2));
    top: 0;
    width: 1700px;
    height: 130px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    background: linear-gradient(90deg, #d05c28, #99052f,#5a9196);
    box-shadow: 0px 0px 10px black;
}

.logo {

}

.h-navbar {
    position: absolute;
    width: calc(1700px - 200px);
    /*background-color: rgba(237,180,54,0.96);*/
    height: 90px;
    top: 10px;
    left: 160px;
}

.content {
    position: absolute;
    top: 160px;
    width: 1800px;
    left: calc(50% - (1800px / 2));
    /*background-color: red;*/
}
